@charset "UTF-8";

/*Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(158, 155, 155);
}

header > h1 {
    list-style-type: none;
}

menu ul {
    list-style-type: none;
    background-color: gray;
}

menu li {
    background-color: rgb(76, 73, 73);
    color: #fff;
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}