@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 768px) {

    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}